<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Boilerplate</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/account.css" />
  </head>
  <body>
    <table id="layout">
      <tbody>
        <tr id="header">
          <td id="nav">
            <div
              style="display: flex; justify-content: left; align-items: center"
            >
              <!-- Burger Menu -->
              <img
                class="icon"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"
                alt="Burger Menu"
                style="margin-left: 16px; margin-right: 16px"
              />
              <!-- Homepage Link -->
              <center>
                <a href="/">
                  <!-- Replace this with your site logo.  If you want words included, make sure they are part of the image and not text inserted here. -->
                  <img
                    id="homeicon"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/591px-Node.js_logo_2015.svg.png?20150315010906"
                    alt="Home Icon"
                    style="margin-left: 16px; margin-right: 16px"
                  />
                </a>
              </center>
            </div>
          </td>
          <td id="search">
            <form action="/search" method="GET">
              <input
                id="searchfield"
                name="query"
                type="text"
                placeholder="Search"
              />
              <input id="searchgo" type="submit" />
            </form>
          </td>
          <td id="auth" colspan="2">
            <div
              style="display: flex; justify-content: right; align-items: center"
            >
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
            </div>
          </td>
        </tr>

        <tr id="page">
          <td id="options">
            <button class="account-tab active-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_home_selected_24x24_9d6bbfa62af2a7aaa6923725ff3e2e28.png"
                alt=""
              />
              Home
            </button>
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_personalinfo_24x24_2b08480abc2504e2d70d74f2470f0ae0.png"
                alt=""
              />
              Personal Info
            </button>
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_data_and_personalization_24x24_1af4cbe9d198b2f4a2e94e52732d8171.png"
                alt=""
              />
              Data and Privacy
            </button>
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_security_24x24_6a1c5821b31ccd7af73a0b8ef07c6795.png"
                alt=""
              />
              Security
            </button>
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_people_and_sharing_24x24_f99bacf0b3bb6b80c1159263d4323379.png"
                alt=""
              />
              People and Sharing
            </button>
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_payments_24x24_c051ee9e35c41e8b0eb8235154cd4585.png"
                alt=""
              />
              Payments and Subscriptions
            </button>
            <hr />
            <button class="account-tab">
              <img
                class="icon-small"
                src="https://www.gstatic.com/identity/boq/accountsettingsmobile/menu_info_24x24_317a17c18099ba628fd875d5c1a5c2b3.png"
                alt=""
              />
              About
            </button>
          </td>
          <td id="content">
            <img
              class="pfp-large"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Aismallard_profile_picture.jpg/600px-Aismallard_profile_picture.jpg?20220329003210"
              alt=""
            />
            <h2>Welcome, duck (nickname)</h2>
          </td>
          <td id="filler"></td>
          <td id="hotbar">
            <!-- charts -->
            <a href="devextreme/charts">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/Charts.svg"
              />
            </a>
            <!-- data grid -->
            <a href="devextreme/data-grid">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/DataGrid.svg"
              />
            </a>
            <!-- editors -->
            <a href="devextreme/editors">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/Editors.svg"
              />
            </a>
            <!-- file management -->
            <a href="devextreme/file-management">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/FileManager.svg"
              />
            </a>
            <!-- gauges -->
            <a href="devextreme/gauges">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/Gauges.svg"
              />
            </a>

            <!-- html editor -->
            <a href="devextreme/html-editor">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/HtmlEditor.svg"
              />
            </a>
            <!-- maps -->
            <a href="devextreme/maps">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/VectorMap.svg"
              />
            </a>

            <!-- scheduler -->
            <a href="devextreme/scheduler">
              <img
                class="icon"
                src="https://js.devexpress.com/Demos/WidgetsGallery/Content/Images/Widgets/Scheduler.svg"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
