#layout {
  width: 100vw;
  height: 100vh;
  background-color: slateblue;
  border-collapse: collapse;
}

.icon {
  height: 48px;
  width: 48px;
  margin: 4px;
}

/* header row */
#layout #header {
  background-color: purple;
  height: 64px;
}
/* header columns */
#layout #header #nav {
  width: 16vw;
  min-width: 128px;
  background-color: rgb(255, 0, 0);
}
#homeicon {
  max-height: 48px;
  width: auto;
  max-width: 128px;
}

#layout #header #nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#layout #header #search {
  width: 68vw;
  background-color: rgb(0, 255, 0);
}
#searchfield {
  height: 48px;
  width: 32vw;
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Google_Magnifying_Glass.svg')
    no-repeat 4px 2px;
  padding-left: 48px;
  background-color: white;
  border: 1px solid grey;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  margin-right: 0;
}
#searchfield:focus {
  outline: none;
}
#searchgo {
  height: 48px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  margin-left: -8px;
  border: 1px solid grey;
  background-color: lightgrey;
}
#layout #header #auth {
  background-color: rgb(0, 0, 255);
}

/* page row */
#layout #page {
  background-color: grey;
}
/* page columns */
#layout #page #options {
  background-color: rgb(255, 255, 0);
  vertical-align: top;
  padding: 16px;
  padding-left: 0;
}
#layout #page #content {
  background-color: rgb(0, 255, 255);
  vertical-align: top;
  padding: 16px;
}
#layout #page #hotbar {
  background-color: rgb(255, 0, 255);
  width: 64px;
}

#layout #page #hotbar a .icon {
  margin-top: 16px;
  margin-bottom: 16px;
}

#layout #header #nav,
#layout #header #search,
#layout #header #auth,
#layout #page #options,
#layout #page #content,
#layout #page #hotbar,
#layout #footer td {
  text-align: center;
}
