          <td id="auth" colspan="2">
            <div
              style="display: flex; justify-content: right; align-items: center"
            >
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
              <a href="/account">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Google_account_icon.svg"
                  alt="Account"
                  class="icon"
                />
              </a>
            </div>
          </td>
