          <td id="nav">
            <div
              style="display: flex; justify-content: left; align-items: center"
            >
              <!-- Burger Menu -->
              <img
                class="icon"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"
                alt="Burger Menu"
                style="margin-left: 16px; margin-right: 16px"
              />
              <!-- Homepage Link -->
              <center>
                <a href="/">
                  <!-- Replace this with your site logo.  If you want words included, make sure they are part of the image and not text inserted here. -->
                  <img
                    id="homeicon"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/591px-Node.js_logo_2015.svg.png?20150315010906"
                    alt="Home Icon"
                    style="margin-left: 16px; margin-right: 16px"
                  />
                </a>
              </center>
            </div>
          </td>
