          <td id="search">
            <form action="/search" method="GET">
              <input
                id="searchfield"
                name="query"
                type="text"
                placeholder="Search"
              />
              <input id="searchgo" type="submit" />
            </form>
          </td>
